@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Oxygen", sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eaeaea;
}

body #app {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5rem;
  padding: 4rem;
  text-align: center;
  width: 50rem;
  border: none;
  border-radius: 10px;
  background: linear-gradient(164deg, black 9%, #358f80 49%);
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body #app #money {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

body #app #errorDiv {
  background-color: #6a040f;
  color: white;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 2px solid white;
  border-radius: 10px;
  display: none;
}

body #app h1 {
  padding-bottom: 2rem;
  color: white;
  letter-spacing: 0.5px;
}

body #app .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

body #app .wrap span {
  color: #343a40;
  background-color: lightgrey;
  padding: 1rem;
  border-radius: 5px 0 0 5px;
  border: 1px solid grey;
}

body #app .wrap #perc {
  padding: 1rem 0.8rem;
}

body #app .wrap #calculate {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0.8rem;
  margin-top: 1rem;
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  width: 70%;
}

body #app .wrap #calculate:hover {
  cursor: pointer;
  opacity: 0.8;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

body #app #details .form-input input {
  margin: 0.3rem 0.3rem 0.3rem 0;
  padding: 1rem;
  border: 1px solid grey;
  border-radius: 0 5px 5px 0;
  font-size: 1rem;
  width: 90%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body #app #details .form-input input::-webkit-input-placeholder {
  font-size: 1rem;
}

body #app #details .form-input input:-ms-input-placeholder {
  font-size: 1rem;
}

body #app #details .form-input input::-ms-input-placeholder {
  font-size: 1rem;
}

body #app #details .form-input input::placeholder {
  font-size: 1rem;
}

body #app #details .form-input input[value] {
  font-size: 1rem;
  letter-spacing: 1px;
}

body #app #loading {
  margin-top: 1rem;
  display: none;
}

body #app #results {
  margin-top: 2rem;
  display: none;
}

body #app #results p {
  text-align: left;
  background-color: rgba(109, 109, 109, 0.6);
  color: white;
  border-radius: 5px;
  margin: 0.3rem 0.3rem 0.3rem 0;
  padding: 1rem;
  border: 1px solid grey;
  font-size: 1rem;
  width: 90%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body #app #refresh {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  margin: 1rem;
  opacity: 0.6;
}

body #app #refresh:hover {
  cursor: pointer;
  opacity: 1;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

@media screen and (max-width: 805px) {
  body #app {
    width: 95%;
    padding: 4rem 0.2rem;
  }
  body #app #details .form-input {
    width: 100%;
  }
  body #app #details .form-input input {
    width: 70%;
  }
}
/*# sourceMappingURL=styles.css.map */